body { background-color: grey; }

#container { margin: 0 auto; width: 640px; padding: 20px; background-color: white; }

#humangs { float: left; }

#right { margin-left: 340px; }

#help { width: 268px; height: 268px; padding: 15px; border: solid 1px grey; }

#compgs { display: none; }

#bottom { text-align: center; padding: 10px;}

/* #message { padding: 10px; } */

/* #form { margin: 0 auto; padding: 10px; } */

table { border-collapse: collapse; }

td { width: 30px; height: 30px; background-color: grey; }

td:hover { background-color: #909090; }

td.ship { background-color: black; }

td.ship:hover { background-color: #303030; }

td.shooted-ship { background-color: red; }

td.shooted-ship:hover { background-color: #ff6060; }

td.sea { background-color: blue; }

td.sea:hover { background-color: #6060ff; }

td.pending { background-color: yellow; }

